<h4>{{name}}, {{gender}}</h3>
<p>Owner: {{owner}}</p>
<div class="underImage"><p>{{type}}</p>
<p>{{age}}</p>
{{#if needsMedicine}}
<p>Needs Medicine</p>
{{/if}}</div>
<h3>Description</h3>
<p>{{description}}</p>

<a href="/pets/{{_id}}/edit">Edit</a>
<a href="/pets/{{_id}}/delete">Delete</a>
